<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Creationdate:</strong>
  <%= @comment.CreationDate %>
</p>

<p>
  <strong>Lastupdated:</strong>
  <%= @comment.lastUpdated %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
