<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Skpusername:</strong>
  <%= @comment.skpUsername %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @comment.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @comment.updated_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
