<p id="notice"><%= notice %></p>

<h1>Listing Language Lists</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Flag</th>
      <th>Mothertongue</th>
      <th>Learnedlanguage</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @language_lists.each do |language_list| %>
      <tr>
        <td><%= language_list.code %></td>
        <td><%= language_list.name %></td>
        <td><%= language_list.flag %></td>
        <td><%= language_list.mothertongue %></td>
        <td><%= language_list.learnedLanguage %></td>
        <td><%= language_list.created_at %></td>
        <td><%= language_list.updated_at %></td>
        <td><%= link_to 'Show', language_list %></td>
        <td><%= link_to 'Edit', edit_language_list_path(language_list) %></td>
        <td><%= link_to 'Destroy', language_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language list', new_language_list_path %>
